@using BusinessEntites;
@model PlanGoGo.Models.UserControls.AttractionsInformation
@{
    Layout = null;
}
@Scripts.Render("~/TourInformation")
<div style="overflow:auto;height:300px" ng-controller="controlerTourInformation" id="TourInformation">
    <table cellpadding="0" cellspacing="0" border="1">
        @if (Model.attractionsList != null)
        {
            var isFirst = false;
            foreach (GetOrderOfAttractionVisit _attraction in Model.attractionsList)
            {
                <tr>
                    <td>
                        <table cellpadding="0" cellpsacing="0" border="0">
                            @if (!isFirst)
                            {
                                <tr>
                                    <td rowspan="2">
                                        <img src="@_attraction.SourceIcon" alt="@_attraction.SourceAttractionName" width="100px" height="100px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td>
                                                    @_attraction.SourceAttractionName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Start Location
                                                </td>
                                            </tr>
                                        </table>
                                        
                                    </td>
                                </tr>
                                isFirst = true;
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Start:@_attraction.DateAndTime
                                    </td>
                                    <td rowspan="4">
                                        <img src="/Images/Custome/add.png" alt="Custom Plan" width="30px" height="30px" onclick="addingAttraction(@_attraction.RecordCount)" />
                                        <img src="/Images/Custome/edit.jpg" alt="Modify Tour Information" width="30px" height="30px" id="create-user" onclick="editTourInformation(@_attraction.TimeRequiredToView,@_attraction.RecordCount)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Drive Miles:@_attraction.Distance
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Drive Time:@_attraction.TravelTime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Reach Time:@_attraction.ReachTime
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        <img src="@_attraction.DestinationIcon" alt="@_attraction.DestinationAttractionName" width="100px" height="100px" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @_attraction.DestinationAttractionName
                                        <br/>
                                        Stay Here:@_attraction.ViewTime
                                    </td>
                                    <td>
                                        <img src="/Images/Custome/red_x.png" alt="Not Intereseted" width="30px" height="30px" onclick="NotIntereseted(@_attraction.DestinationAttractionId)" />
                                        @if (_attraction.RecordCount != 1)
                                        {
                                            <img src="/Images/Custome/up.jpg" alt="Up" width="30px" height="30px" onclick="IsOrderUpdated(@_attraction.DestinationAttractionId,@_attraction.RecordCount, true)" />
                                        }
                                        else
                                        {
                                            <span style="width:30px;height:30px">&nbsp;</span>
                                        }
                                        <img src="/Images/Custome/down.jpg" alt="Down" width="30px" height="30px" onclick="IsOrderUpdated(@_attraction.DestinationAttractionId,@_attraction.RecordCount, false)" />
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        }
    </table>
</div>