<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularSupport")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/customscript")
    
    

    <script>
  $( function() {
    $( "#menu" ).menu();
  } );
    </script>
</head>
<body ng-app="AppPlanGoGo">
    <div class="adminMainHeader">
    <div id="MainDev" class="mainMenu">
        <!--Menu List-->
        <div style="float: left">
            <ul id="menu" class="bodyContent">
                <li>
                    <a href="~/Country/ManageCountry" title="Manage Country">
                        View Country
                    </a>
                </li>
                <li>
                    <a href="~/MasterState/ManageState" title="Manage State">
                        View States
                    </a>
                </li>
                <li>
                    <a href="~/MasterCity/ManageCity" title="Manage City">
                        View City
                    </a>
                </li>
                <li>
                    <div>Manage Attractions</div>
                    <ul>
                        <li>
                            <a href="~/Attractions/ManageAttractions" title="Manage Attractions">
                                View Attractions
                            </a>
                        </li>
                        <li>
                            <a href="~/Attractions/UpdateAttractions?attractionsId=0" title="Update Attractions">
                                Update Attractions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div>Missing Distance</div>
                    <ul>
                        <li>
                            <a href="~/MissingDistanceAttractionsRecords/ManageMissingDistanceAttractionsRecords" title="Missing DistanceAttractions Records">
                                View Missing
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="float: left;" class="bodyContent">
            @RenderBody()
        </div>
    </div>
    </div>
</body>
</html>
